.faq-container {
    background-color: $light-black;
    width: 100%;
    padding: 10rem 0;

    .faqs {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include reveal;

        .faq-title {
            h1 {
                font-family: $secondary-font;
                font-size: $title-font-size;
                color: $light-blue;
            }
        }
    }
}
