footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $black;
    font-family: $primary-font;
    font-size: $base-font-size;
    padding: 5rem 0;
    width: 100%;
    h1 {
        color: $white;
        font-size: $title-font-size;
        font-family: $title-font;
        opacity: 0.1;
    }
    .credits {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5rem 0;
        width: 80%;
        h2 {
            font-size: $base-font-size;
            padding: 0.7rem 0;
            font-family: $secondary-font;
            mark {
                background-color: transparent;
                color: $light-blue;
            }
        }
    }
    .links {
        a {
            color: $light-blue;
            font-size: $base-font-size;
            padding: 0 1rem;
            transition: .2s ease-in-out;
            &:hover {
                color: darken($light-blue, 20%)
            }
        }
    }
}
