.info {
    color: $light-blue;
    display: flex;
    align-items: center bottom;
    flex-direction: row;
    width: 100%;
    @include reveal;

    img {
        object-fit: scale-down;
        object-position: bottom;
        width: 100%;
        height: auto;
    }

    .info-text {
        padding: 10rem 5rem;
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;

        h1 {
            text-align: center;
            font-family: $secondary-font;
            color: $light-blue;
            font-size: $title-font-size;
        }
        p {
            text-align: justify;
            text-justify: inter-word;
            margin-top: 2.5rem;
            font-size: $base-font-size;
            font-family: $primary-font;
        }
        .shorts {
            padding-top: 5rem;
            i {
                padding-right: 1rem;
            }
            p {
                font-weight: italic;
                color: $light-blue;
            }
        }
    }
}
// Js related
