.prices-container {
    background: $gradient-background;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10rem 0;

    h1 {
        font-family: $secondary-font;
        font-size: $title-font-size;
    }
    p {
        font-family: $secondary-font;
        font-size: $base-font-size;
    }
    li {
        font-family: $secondary-font;
        font-size: $base-font-size;
    }
    .prices {
        @include reveal;
        .prices-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 5rem;

            p {
                padding-top: 3rem;
            }
        }

        .cards {
            display: flex;
            align-items: end;
        }
    }
}
