html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  color: #FFFFFF;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  line-height: 1;
  background-color: #121212;
  font-size: 1.6rem;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.card {
  background-color: #121933;
  height: 40rem;
  width: 30rem;
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1.5rem;
}
.card button {
  border-radius: 5px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #FFFFFF;
  margin-top: 3rem;
  height: 4.5rem;
  width: 22rem;
  border: none;
  padding: 1rem;
  background-color: #0078ff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.card .card-bg {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.card .card-bg h1 {
  padding: 1rem 0;
}
.card .card-bg .effect {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card-features {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
}
.card .card-features li {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.card .bronze-bg {
  background-image: url(../assets/card-bg/bg-card-bronze.jpg);
}
.card .bronze-effect {
  background: rgb(205, 127, 50);
  background: linear-gradient(90deg, rgba(205, 127, 50, 0.42) 100%, rgb(255, 255, 255) 100%);
}
.card .silver-bg {
  background-image: url(../assets/card-bg/bg-card-silver.jpg);
}
.card .silver-effect {
  background: rgb(97, 96, 95);
  background: linear-gradient(90deg, rgba(97, 96, 95, 0.5242297603) 100%, rgb(255, 255, 255) 100%);
}
.card .gold-bg {
  background-image: url(../assets/card-bg/bg-card-gold.jpg);
}
.card .gold-effect {
  background: rgb(255, 215, 0);
  background: linear-gradient(90deg, rgba(255, 215, 0, 0.42) 100%, rgb(255, 255, 255) 100%);
}
.card .bronze-btn {
  background: rgb(205, 127, 50);
}
.card .silver-btn {
  background: rgb(97, 96, 95);
}
.card .gold-btn {
  background: rgb(206, 175, 2);
}

.scroll-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
  opacity: 0.2;
  filter: blur(0.5px);
}
.scroll-container .scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 3rem;
  border: #FFFFFF solid 0.3rem;
  border-radius: 2rem;
}
.scroll-container .scroll .scroll-arrow {
  animation: loops 1s linear 0s infinite normal none;
}
@keyframes loops {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0px);
  }
}

.acordion {
  width: min(95.1rem, 80%);
  margin-top: 3rem;
}
.acordion .acordion-item {
  font-family: "Roboto", sans-serif;
  margin-top: 2rem;
  font-size: clamp(1.5rem, 2vw, 2rem);
  background-color: #347CDB;
}
.acordion .acordion-item .acordion-title {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}
.acordion .acordion-item .acordion-title label {
  cursor: pointer;
}
.acordion .acordion-item .acordion-title i {
  transition: 0.5s;
}
.acordion .acordion-item .awnser {
  overflow: hidden;
  height: 0;
  width: 100%;
  position: relative;
  transition: 0.5s;
  background-color: #121212;
}

.acordion-item.active .awnser {
  height: 10rem;
  padding: 2rem 0;
}

i.active {
  transform: rotate(90deg);
}

header {
  background-image: url("../assets/a010236ba4b4ce4f60a1526180eadc48.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center top;
}
header .blue-effect {
  z-index: 1;
  height: 100%;
  background: linear-gradient(100deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 8, 56, 0.7) 40%, rgba(0, 8, 56, 0.7) 60%, rgba(0, 0, 0, 0.7) 100%);
  display: flex;
  flex-direction: column;
  text-align: center;
}
header .blue-effect .navbar {
  z-index: 1;
  height: 5em;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .blue-effect .navbar .logo {
  cursor: pointer;
}
header .blue-effect .navbar .logo svg {
  height: 4.3rem;
  color: #d69812;
}
header .blue-effect .navbar ul {
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  color: #dad8d8;
  width: 40rem;
  font-size: 1.9rem;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
header .blue-effect .navbar ul a {
  color: #FFFFFF;
  text-decoration: none;
}
header .blue-effect .hello-container {
  z-index: 1;
  background: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
}
header .blue-effect .hello-container .interested-players {
  z-index: 1;
  color: #01afe9;
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
  font-size: 1.3rem;
  margin-top: 17rem;
}
header .blue-effect .hello-container .title {
  z-index: 1;
  margin-top: 6rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 5rem;
}
header .blue-effect .hello-container .primary-btns {
  z-index: 1;
  display: flex;
  flex-direction: column;
}
header .blue-effect .hello-container .primary-btns button {
  border-radius: 5px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #FFFFFF;
  margin-top: 3rem;
  height: 4.5rem;
  width: 22rem;
  border: none;
  padding: 1rem;
  background-color: #0078ff;
  cursor: pointer;
}
header .blue-effect .hello-container .primary-btns .test {
  z-index: 1;
}
header .blue-effect .hello-container .primary-btns .test button {
  background: #01afe9;
}
header .particle-container {
  margin-top: -0.4em;
  width: 100%;
  height: 1rem;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  pointer-events: none;
}
header .particle-container .particle {
  border-radius: 50%;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: white;
  animation: animate linear infinite;
}
@keyframes animate {
  0% {
    visibility: visible;
    transform: scale(0) translateY(0%);
  }
  3% {
    transform: scale(1) translateY(0%);
  }
  100% {
    transform: translateY(-1000px);
  }
}

.info {
  padding-top: 20rem;
  color: #347CDB;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.info .first-img img {
  max-width: 110%;
  max-height: 110%;
}
.info .info-text {
  width: 100%;
  max-height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 0 10rem;
}
.info .info-text h1 {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  color: #347CDB;
  font-size: clamp(3rem, 5vw, 5rem);
}
.info .info-text p {
  text-align: justify;
  text-justify: inter-word;
  margin-top: 2.5rem;
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-family: "Roboto", sans-serif;
}
.info .info-text .shorts {
  padding-top: 5rem;
}
.info .info-text .shorts i {
  padding-right: 1rem;
}
.info .info-text .shorts p {
  font-weight: italic;
  color: #347CDB;
}

.prices {
  background: radial-gradient(circle, rgba(0, 120, 255, 0.6530813009) 0%, rgb(0, 43, 110) 100%);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10rem 0;
}
.prices h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: clamp(3rem, 5vw, 5rem);
}
.prices p {
  font-family: "Titillium Web", sans-serif;
  font-size: clamp(1.5rem, 2vw, 2rem);
}
.prices li {
  font-family: "Titillium Web", sans-serif;
  font-size: clamp(1.5rem, 2vw, 2rem);
}
.prices .prices-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}
.prices .prices-info p {
  padding-top: 3rem;
}
.prices .cards {
  display: flex;
  align-items: end;
}

.faq {
  background-color: #121212;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem 0;
}
.faq .faq-title h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: clamp(3rem, 5vw, 5rem);
  color: #347CDB;
}

@media (max-width: 1668px) {
  .info {
    padding: 10rem 0;
  }
  .info .info-text {
    padding: 0 3rem;
  }
  .info .first-img {
    display: none;
  }
}
@media (max-width: 1050px) {
  .prices .cards {
    flex-direction: column;
  }
}