html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  color: #ffffff;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  line-height: 1;
  background-color: #121212;
  font-size: 1.6rem;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.prices.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.faqs.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
  padding: 2rem 0;
}
.navbar .logo {
  cursor: pointer;
}
.navbar .logo svg {
  height: 4.3rem;
  color: #d69812;
}
.navbar .menu {
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  color: #dad8d8;
  width: 40rem;
  font-size: 1.9rem;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  transition: 0.5s ease;
}
.navbar .menu a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.navbar .menu a:hover {
  color: #999999;
}

.navbar.sticky {
  z-index: 111111;
  position: fixed;
  height: 4.2rem;
  top: 0%;
  bottom: 0%;
  background-color: #121212;
  width: 100%;
}

.navbar .menu.active {
  transform: translateX(0);
  display: flex;
}

.menu-icon {
  font-size: 4rem;
  display: none;
  cursor: pointer;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.prices.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.faqs.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.card {
  background-color: #121933;
  height: 40rem;
  width: 30rem;
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1.5rem;
}
.card button {
  border-radius: 5px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #ffffff;
  margin-top: 3rem;
  height: 4.5rem;
  width: 22rem;
  border: none;
  padding: 1rem;
  background-color: #0078ff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-family: "Titillium Web", sans-serif;
  text-shadow: 0px 0px 15px #121212;
}
.card .card-bg {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.card .card-bg h1 {
  font-size: 5rem;
  padding: 1rem 0;
}
.card .card-bg .effect {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card-features {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
}
.card .card-features li {
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.card .bronze-bg {
  background-image: url(../assets/card-bg/bg-card-bronze.jpg);
}
.card .bronze-effect {
  background: #cd7f32;
  background-color: rgba(205, 127, 50, 0.4);
}
.card .silver-bg {
  background-image: url(../assets/card-bg/bg-card-silver.jpg);
}
.card .silver-effect {
  background: #c0c0c0;
  background-color: rgba(192, 192, 192, 0.4);
}
.card .gold-bg {
  background-image: url(../assets/card-bg/bg-card-gold.jpg);
}
.card .gold-effect {
  background: #ffd700;
  background-color: rgba(255, 215, 0, 0.4);
}
.card .bronze-btn {
  background: #cd7f32;
}
.card .bronze-btn:hover {
  background-color: #7b4c1e;
}
.card .silver-btn {
  background: #c0c0c0;
}
.card .silver-btn:hover {
  background-color: #8d8d8d;
}
.card .gold-btn {
  background: #ffd700;
}
.card .gold-btn:hover {
  background-color: #998100;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.prices.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.faqs.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.scroll-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
  opacity: 0.2;
  filter: blur(0.5px);
}
.scroll-container .scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 3rem;
  border: #ffffff solid 0.3rem;
  border-radius: 2rem;
}
.scroll-container .scroll .scroll-arrow {
  animation: loops 1s linear 0s infinite normal none;
}
@keyframes loops {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0px);
  }
}

.acordion {
  width: min(95.1rem, 80%);
  margin-top: 3rem;
}
.acordion .acordion-item {
  font-family: "Roboto", sans-serif;
  margin-top: 2rem;
  font-size: clamp(1.5rem, 3vw, 2rem);
  background-color: #347cdb;
}
.acordion .acordion-item .acordion-title {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.acordion .acordion-item .acordion-title label {
  cursor: pointer;
}
.acordion .acordion-item .acordion-title i {
  transition: 0.5s;
}
.acordion .acordion-item .awnser {
  overflow: hidden;
  height: 0;
  width: 100%;
  position: relative;
  transition: 0.5s;
  background-color: #121212;
}

.acordion-item.active .awnser {
  height: 10rem;
  padding: 2rem 0;
}

i.active {
  transform: rotate(90deg);
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.prices.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.faqs.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

header {
  background-image: url("../assets/a010236ba4b4ce4f60a1526180eadc48.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center top;
}
header .blue-effect {
  z-index: 1;
  height: 100%;
  background: linear-gradient(100deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 8, 56, 0.7) 40%, rgba(0, 8, 56, 0.7) 60%, rgba(0, 0, 0, 0.7) 100%);
  display: flex;
  flex-direction: column;
  text-align: center;
}
header .blue-effect .hello-container {
  background: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
}
header .blue-effect .hello-container .interested-players {
  z-index: 1;
  color: #01afe9;
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
  font-size: 1.3rem;
  margin-top: 17rem;
}
header .blue-effect .hello-container .title {
  z-index: 1;
  margin-top: 6rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 5rem;
}
header .blue-effect .hello-container .primary-btns {
  z-index: 1;
  display: flex;
  flex-direction: column;
}
header .blue-effect .hello-container .primary-btns button {
  border-radius: 5px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #ffffff;
  margin-top: 3rem;
  height: 4.5rem;
  width: 22rem;
  border: none;
  padding: 1rem;
  background-color: #0078ff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
header .blue-effect .hello-container .primary-btns button:hover {
  background-color: #004899;
}
header .blue-effect .hello-container .primary-btns .test {
  z-index: 1;
}
header .blue-effect .hello-container .primary-btns .test button {
  background: #01afe9;
}
header .blue-effect .hello-container .primary-btns .test button:hover {
  background-color: #016383;
}
header .particle-container {
  margin-top: -0.4em;
  width: 100%;
  height: 1rem;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  pointer-events: none;
}
header .particle-container .particle {
  border-radius: 50%;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: white;
  animation: animate linear infinite;
}
@keyframes animate {
  0% {
    visibility: visible;
    transform: scale(0) translateY(0%);
  }
  3% {
    transform: scale(1) translateY(0%);
  }
  100% {
    transform: translateY(-1000px);
  }
}

.info {
  color: #347cdb;
  display: flex;
  align-items: center bottom;
  flex-direction: row;
  width: 100%;
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease;
}
.info img {
  object-fit: scale-down;
  object-position: bottom;
  width: 100%;
  height: auto;
}
.info .info-text {
  padding: 10rem 5rem;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.info .info-text h1 {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  color: #347cdb;
  font-size: clamp(2rem, 5vw, 5rem);
}
.info .info-text p {
  text-align: justify;
  text-justify: inter-word;
  margin-top: 2.5rem;
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-family: "Roboto", sans-serif;
}
.info .info-text .shorts {
  padding-top: 5rem;
}
.info .info-text .shorts i {
  padding-right: 1rem;
}
.info .info-text .shorts p {
  font-weight: italic;
  color: #347cdb;
}

.prices-container {
  background: radial-gradient(circle, rgba(0, 120, 255, 0.6530813009) 0%, rgb(0, 43, 110) 100%);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10rem 0;
}
.prices-container h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: clamp(2rem, 5vw, 5rem);
}
.prices-container p {
  font-family: "Titillium Web", sans-serif;
  font-size: clamp(1.5rem, 3vw, 2rem);
}
.prices-container li {
  font-family: "Titillium Web", sans-serif;
  font-size: clamp(1.5rem, 3vw, 2rem);
}
.prices-container .prices {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease;
}
.prices-container .prices .prices-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.prices-container .prices .prices-info p {
  padding: 2rem 0;
}
.prices-container .prices .cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-container {
  background-color: #161616;
  width: 100%;
  padding: 10rem 0;
}
.faq-container .faqs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease;
}
.faq-container .faqs .faq-title h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: clamp(2rem, 5vw, 5rem);
  color: #347cdb;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #121212;
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.5rem, 3vw, 2rem);
  padding: 5rem 0;
  width: 100%;
}
footer h1 {
  color: #ffffff;
  font-size: clamp(2rem, 5vw, 5rem);
  font-family: "Fira Sans", sans-serif;
  opacity: 0.1;
}
footer .credits {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 0;
  width: 80%;
}
footer .credits h2 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  padding: 0.7rem 0;
  font-family: "Titillium Web", sans-serif;
}
footer .credits h2 mark {
  background-color: transparent;
  color: #347cdb;
}
footer .links a {
  color: #347cdb;
  font-size: clamp(1.5rem, 3vw, 2rem);
  padding: 0 1rem;
  transition: 0.2s ease-in-out;
}
footer .links a:hover {
  color: #194c90;
}

@media (max-width: 1300px) {
  .info img {
    display: none;
  }
}
@media (min-width: 1300px) {
  .info {
    padding-top: 15rem;
  }
}
@media (max-width: 1050px) {
  .prices .cards {
    flex-direction: column;
  }
}
@media (max-width: 810px) {
  .navbar {
    z-index: 2;
    height: 6rem;
    z-index: 2;
    justify-content: space-between;
    background-color: #121212;
  }
  .navbar .logo {
    margin-left: 4rem;
  }
  .navbar .menu {
    background-color: #121212;
    top: 70px;
    left: 0;
    width: 100%;
    position: absolute;
    flex-direction: column;
    padding: 2rem 0;
    transform: translateX(-80rem);
  }
  .navbar .menu li {
    padding: 2.5rem 0;
  }
  .navbar .menu-icon {
    margin-right: 4rem;
    display: flex;
  }
}
@media (max-width: 498px) {
  .prices .prices-info p {
    font-size: 3vw;
  }
}