@mixin button {
    border-radius: 5px;
                    font-family: $title-font;
                    font-weight: bold;
                    font-size: 20px;
                    color: $white;
                    margin-top: 30px;
                    height: 45px;
                    width: 220px;
                    border: none;
                    padding: 10px;
                    background-color: $primary-blue;
};