@import "utils/mixin";

.card {
    background-color: $card-bg;
    height: 40rem;
    width: 30rem;
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1.5rem;

    button {
        @include button;
        font-family: $secondary-font;
        text-shadow: 0px 0px 15px $black;
    }

    .card-bg {
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        h1 {
            font-size: 5rem;
            padding: 1rem 0;
        }
        .effect {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .card-features {
        width: 100%;
        height: 100%;
        padding-top: 2rem;
        li {
            font-size: 2rem;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
        }
    }

    .bronze-bg {
        background-image: url(../assets/card-bg/bg-card-bronze.jpg);
    }
    .bronze-effect {
        @include bg-effect($bronze);
    }
    .silver-bg {
        background-image: url(../assets/card-bg/bg-card-silver.jpg);
    }
    .silver-effect {
        @include bg-effect($silver);
    }
    .gold-bg {
        background-image: url(../assets/card-bg/bg-card-gold.jpg);
    }
    .gold-effect {
        @include bg-effect($gold);
    }

    .bronze-btn {
        background: $bronze;
        &:hover {
            background-color: darken($bronze, 20%);
        }
    }
    .silver-btn {
        background: $silver;
        &:hover {
            background-color: darken($silver, 20%);
        }
    }
    .gold-btn {
        background: $gold;
        &:hover {
            background-color: darken($gold, 20%);
        }
    }
}
