$primary-blue: #0078ff;
$secondary-blue: #01afe9;
$light-blue: #347CDB;
$yellow: #d69812;
$white: #FFFFFF;
$secondary-white: #dad8d8;
$black: #161616;


$title-font: 'Fira Sans', sans-serif;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Titillium Web', sans-serif;
