//Colors
$primary-blue: #0078ff;
$secondary-blue: #01afe9;
$light-blue: #347CDB;
$yellow: #d69812;
$white: #FFFFFF;
$secondary-white: #dad8d8;
$light-black: #161616;
$black: #121212;
$card-bg: #121933;

//Background colors
$gradient-background: radial-gradient(circle, rgba(0, 120, 255, 0.6530813008797269) 0%, rgba(0, 43, 110, 1) 100%);

//Fonts
$title-font: 'Fira Sans', sans-serif;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Titillium Web', sans-serif;

//Sizes
$title-font-size: clamp(2rem, 5vw, 5rem);
$base-font-size: clamp(1.5rem, 3vw, 2rem);
