@media (max-width: 1300px) {
body {
    .info{
        img{
            display: none;
        }
    }
}
}

@media (min-width: 1300px) {
.info{
    padding-top: 15rem;
}
}

@media (max-width: 1050px) {
    .prices {
        .cards {
            flex-direction: column;
        }
    }
}

@media (max-width: 498px){
    .prices{
        .prices-info{
            p{
            font-size: 3vw;
            }
        }
    }
}