// Mixin for header animaton
@mixin keyframe($name: animate, $count: infinite) {
    @keyframes animate {
        0% {
            visibility: visible;
            transform: scale(0) translateY(0%);
        }
        3% {
            transform: scale(1) translateY(0%);
        }
        100% {
            transform: translateY(-1000px);
        }
    }
    animation: $name linear $count;
}

@mixin loop($name: loop, $count: infinite) {
    @keyframes loops {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(6px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    animation: loops 1s linear 0s infinite normal none;
}

//Mixin for btns
@mixin button {
    border-radius: 5px;
    font-family: $title-font;
    font-weight: bold;
    font-size: 2rem;
    color: $white;
    margin-top: 3rem;
    height: 4.5rem;
    width: 22rem;
    border: none;
    padding: 1rem;
    background-color: $primary-blue;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

//Reveal mixin
@mixin reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}
.prices.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}
.faqs.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

//Mixin for bg cards color effect
@mixin bg-effect($color) {
    background: $color;
    background-color: rgba(red($color), green($color), blue($color), .4);
}
